# 1. Data Preprocessing

In [5]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [6]:
df = pd.read_excel('Data.xlsx')

In [7]:
X = df.iloc[ : , :-1].values
Y = df.iloc[ : , 3].values

In [8]:
X

array([['France', 44.0, 72000.0, 'No', 'M'],
       ['Spain', 27.0, 48000.0, 'Yes', 'M'],
       ['Germany', 30.0, 54000.0, 'No', 'F'],
       ['Spain', 38.0, 61000.0, 'No', 'M'],
       ['Germany', 40.0, nan, 'Yes', 'F'],
       ['France', 35.0, 58000.0, 'Yes', 'F'],
       ['Spain', nan, 52000.0, 'No', 'F'],
       ['France', 48.0, 79000.0, 'Yes', 'M'],
       ['Germany', 50.0, 83000.0, 'No', 'M'],
       ['France', 37.0, 67000.0, 'Yes', 'M']], dtype=object)

In [12]:
df.head()

   Country   Age   Salary Purchased Gender  EstimatedSalary
0   France  44.0  72000.0        No      M          72000.0
1    Spain  27.0  48000.0       Yes      M          48000.0
2  Germany  30.0  54000.0        No      F          54000.0
3    Spain  38.0  61000.0        No      M          61000.0
4  Germany  40.0      NaN       Yes      F              NaN

In [13]:
pd.get_dummies(df['Country'])

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

### Handling Missing Data (Other Ways also in presntation)

In [48]:
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")
imputer = imputer.fit(X[ : , 1:3])
X[ : , 1:3] = imputer.transform(X[ : , 1:3])

### Encoding Categorical Data

In [49]:
labelencoder_X = LabelEncoder()
X[ : , 0] = labelencoder_X.fit_transform(X[ : , 0])

### One Hot-Encode Or get dummies function

In [52]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [56]:
onehotencoder = OneHotEncoder(categories='auto')
X = onehotencoder.fit_transform(X).toarray()
labelencoder_Y = LabelEncoder()
Y =  labelencoder_Y.fit_transform(Y)

### Splitting Data into Test and Train

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.2, random_state = 0)

### Scaling Data By taking Z-Score at every point

## X-Mean / Standard deviation

In [58]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)